astroid==2.6.5
coverage==5.5
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.7
isort==5.9.2
lazy-object-proxy==1.6.0
lxml==4.6.3
mccabe==0.6.1
mutagen==1.45.1
packaging==20.9
pylint==2.9.5
pyparsing==2.4.7
python-magic-bin==0.4.14
tinydb==4.4.0
toml==0.10.2
tqdm==4.61.0
wrapt==1.12.1
